<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>posts</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>
<body>
    <div class="hold">
        <header class=" header main-header out">
          <div class="logo">KOVKA.</div>
          <nav>
            <div class="hamburger"></div>
        
            <ul class="main-nav main-nav-mob">
              <li class="nav-item search">
                
                <div class="md-search">
                  <a href="search.html"><i class="fa fa-search"></i></a>
                </div>
                <form name="" metgod="post" class="lg-search">
                  <input type="text" name="search"><i class="icon fa fa-search"></i>
                </form>
                
              </li>
              
              <li class="nav-item"><a href="#">home</a></li>
              <li class="nav-item"><a href="#">Blog</a></li>
              <li class="nav-item"><a href="#">Log in</a></li>
              <li class="nav-item"><a href="#">XZ</a></li>
              
     
  
            </ul>
          </nav>
        </header>
      </div>
    <div class="blog">
        <div class="blog-container">
            
        </div>
    </div>
    
    <div class="section">
        <div class="footer">
          <div class="container">
            <div class="col four left">
                <h3>Github</h3>
                <ul class="list-unstyled">
                </ul>
                <h3>Соціальні мережі</h3>
                <ul class="list-unstyled">
                    <li>
                        <a target="_blank" href="https://instagram.com/uastal_org"><img
                                src="https://uastal.org/image/cache/catalog/instagram-25x25.png" alt="" title=""></a>
                        <a target="_blank" href="https://www.facebook.com/uastal.org/"><img
                                src="https://uastal.org/image/cache/catalog/facebook-icon-25x25.png" alt="" title=""></a>
                    </li>
                </ul>
            </div>
            
            <div class="col four left">
                <h3>Политика конфиденциальности</h3>
                <p>Обязательно к ознакомлению </p>
            </div>
         
            <div class="col four left">
                <h3>Telegram bot</h3>
                <p>3-D конструктор, в котором вы сможете создать свой личный дизайн кованного изделия </p>
                 <p></p>
            </div>
               <div class="col four left">
                <h3>Наші контакти</h3>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone-square fa-width"></i> +38(063) 618-90-40</li>
                    <li><i class="fa fa-phone-square fa-width"></i> +38(097) 413-97-08</li>
                    <li><i class="fa fa-phone-square fa-width"></i> +38(095) 614-13-78</li>
                    <li><i class="fa fa-phone-square fa-width"></i> +38(097) 700-25-40 - Отдел порезки</li>
                    <li><i class="fa fa-envelope fa-width"></i> office1@uastal.com - Офис | abrasive@uastal.com - Отдел порезки</li>
                    <li><i class="fa fa-clock-o fa-width"></i> Ми працюємо:
                        ПН-ПТ: 9:00-17:00
                        СБ: 9:00-13:00
                        Вихідний - неділя.</li>
                    <li><i class="fa fa-globe fa-width"></i> Україна,
                        пров. Будівельників, 18, Київ, 02100</li>
                </ul>
            </div>
            <div class="group"></div>
          </div>
        </div>
      </div>
    <script src="static/app.js"></script>
    <script>
        window.onscroll = function () {
          let el = document.getElementsByClassName('header')[0];
          let className = 'small';
          if (el.classList) {
            if (window.scrollY > 10)
              el.classList.add(className);
            else
              el.classList.remove(className);
          }
        };
        const wrapper = document.querySelector('.wrapper');
        const indicators = [...document.querySelectorAll('.indicators button')];

        let currentTestimonial = 0; // Default 0

        indicators.forEach((item, i) => {
          item.addEventListener('click', () => {
            indicators[currentTestimonial].classList.remove('active');
            wrapper.style.marginLeft = `-${100 * i}%`;
            item.classList.add('active');
            currentTestimonial = i;
          })
        })
        $(".hamburger").click(function () {
          $(".main-nav-mob").toggleClass("move");
          $(this).toggleClass("close-menu"); // осталось только научить меню "уезжать" вправо.
        });


      </script>
</body>
</html>